{% extends 'layouts/base.html' %}
{% load humanize %}
{% load static %}
{% block content %}
<style>
      .footer-hover {
        background-color: var(--green);
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;

      }

      .footer-hover:hover {
        background-color: #43A484;
        /* #00695c */
      }

      .text-black-40 {
        color: rgba(0, 0, 0, 0.4)
      }

      .card-footer {
      padding: 0rem;
      }

      body {
        background-color: #F0F3F6;
      }

      .jumbotron{
        background-color:white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }

      .card{
          box-shadow: 2px 0px 2px 0 rgba(0, 0, 0, 0.2);
        }
      }
</style>
<!-- Header -->
<!-- <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" -->
     <!-- style="min-height: 600px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;"> -->
 <div class="header bg-gradient-success pb-8 pt-5 pt-md-8"
      style=" background-size: cover; background-position: center top;">
  <!-- Mask -->
  <!-- <span class="mask bg-gradient-default opacity-8"></span> -->
<!-- <div class="jumbotron rounded-lg" style="margin-top: 1rem"> -->
<div class="container-fluid d-flex align-items-center">
  <div class="row">
    <div class="col-lg-12 col-md-10">
      <h2 class="display-2 text-white">&#x1F44B;&#127996; Welcome {{user.username}}!</h2>
      <p class="text-white mt-0 mb-5">Manage your account</p>
      <hr class="my-4">
  <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
      <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

          </div>
        </div>
      </div>


      <a class="create-location btn btn-primary btn-lg" href="#theModal" data-remote="{% url 'locations:create_location' %}" data-toggle="modal" data-target="#theModal">Add Location</a>
        <div id="theModal" class="modal fade text-center" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Create Location</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body p-4 bg-secondary">
                  ... remote content loads here ...
              </div>
            </div>
          </div>
        </div>



    </div>
  </div>
  </div>
</div>
<div class="container-fluid mt--7">
<div class="col-xl-12 order-xl-1">
  <div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-12">
              <h2><i class="fas fa-map-marker-alt text-success"></i> Your Locations</h2>
              <hr style="border-color:#18BC9C"">
        </div>
</div>
{% if request.user.is_authenticated %}


<div class="container">
  <div class="row">



      {% for local in request.user.location_set.all %}
      <!-- Card content -->
      <div class="col-md-4" style="margin-top:5px">


        <div class="card h-100">

            <div class="card-body">

              <!-- Title -->
              <h4 class="card-title">{{local.name}}</h4>
              <!-- Text -->
              <p class="card-text">{{local.address}}</p>

              <!-- Button -->
              <!-- <a href="{% url 'tracing:visit' pk=local.pk %}" class="btn btn-primary btn-sm col-md-6">Go to Location</a> -->
              <!-- Button -->

            <!-- Footer -->
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center" >
              <div class="col-sm-6 footer-hover align-items-center h-100"style="padding:0.75rem; border-radius: 0 0 0 0.25rem">
                <a href="{% url 'tracing:visit' pk=local.pk %}" class="text-white">Open App<i class="fas fa-arrow-circle-right pl-2"></i></a>
              </div>
              <div class="col-sm-6 footer-hover align-items-center h-100"style="padding:0.75rem; border-radius: 0 0 0.25rem">
                <a href="{% url 'locations:detail' pk=local.pk %}" class="text-white">Manage<i class="fas fa-arrow-circle-right pl-2"></i></a>
              </div>





            <!-- <i href="{% url 'locations:detail' pk=local.pk %}" class="far fa-edit fa-lg teal-text"></i> -->
            </div>
        </div>
      </div>
      {% empty %}
      <p>Sorry, no locations in this list.</p>
      {% endfor %}
    </div>
</div>



{% endif %}


{% endblock %}

{% block javascripts %}
<!-- <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {

    $(".create-location").modalForm({
        formURL: "{% url 'locations:create_location' %}"
    });

});
</script> -->
<script type="text/javascript">
  // $('.create-location').on('click', function(e){
  //     e.preventDefault();
  //     $('#theModal').modal('show').find('.modal-content').load($(this).attr('href'));
  //   });
  $('#theModal').on('show.bs.modal', function (e) {

    var button = $(e.relatedTarget);
    var modal = $(this);

    // load content from HTML string
    //modal.find('.modal-body').html("Nice modal body baby...");

    // or, load content from value of data-remote url
    modal.find('.modal-body').load(button.data("remote"));

});
</script>

{% endblock javascripts %}
