{% extends "layouts/base-fullscreen.html" %}

{# at the terminal, run pip install django-bootstrap4 #}

{% load crispy_forms_tags %}
{% block content %}
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-md-10">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <div class="container">
              <h1>Confirm Password Reset</h1>
              <form method="POST" class="form">
                {% csrf_token %}
                {{form | crispy}}
                <button type="submit" class="btn btn-primary">Confirm</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
