{% extends "layouts/base-fullscreen.html" %}

{# at the terminal, run pip install django-bootstrap4 #}


{% block content %}
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-md-10">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <div class="alert alert-primary" role="alert">
              <strong>Check your mail!</strong> We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
