{% extends "layouts/base-fullscreen.html" %}

{# at the terminal, run pip install django-bootstrap4 #}


{% block content %}
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-md-10">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">

              <div class="alert alert-success" role="alert">
                <strong>Success!</strong> Your password has been changed!
              </div>
              <p><a href="{% url 'tracing:visits' %}">Return to Dashboard</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
