{% extends "layouts/base-fullscreen.html" %}

{# at the terminal, run pip install django-bootstrap4 #}


{% block content %}

<!-- <div class="container" style="margin-top: 1rem"> -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">

                    <!-- Default form login -->
                    <!-- <form class="text-center border border-light p-5" action="{% url 'accounts:login' %}" method='POST'> -->
                    <form action="{% url 'accounts:login' %}" method="POST">
                          {% csrf_token %}
                          {{ form.as_p }}
                          <button type="submit">Confirm credentials</button>
                    </form>
  <!-- Default form login -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <h1>Login</h1>
  <form method="POST" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div> -->
{% endblock %}
