{% extends "base.html" %}

{# at the terminal, run pip install django-bootstrap4 #}


{% block content %}

<div class="container" style="margin-top: 1rem">



  <!-- Default form login -->
  <form class="text-center border border-light p-5" action="{% url 'accounts:login' %}" method='POST'>
        {% csrf_token %}
      <p class="h4 mb-4">Sign in</p>
        <!-- Username -->
      <input type="text" id="username" name="username" class="form-control" placeholder="Username">

      <!-- Password -->
      <input type="password" id="password" name="password" class="form-control" placeholder="Password">

      {% if form.errors %}
        <p class="text-danger">Your username and password didn't match. Please try again.</p>
      {% endif %}

      <!-- <div class="d-flex justify-content-around"> -->
          <div>
              <!-- Remember me -->
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                  <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
              </div>
          </div>
          <!-- <div> -->
              <!-- Forgot password -->
              <!-- <a href="">Forgot password?</a> -->
          <!-- </div> -->
      <!-- </div> -->

      <!-- Sign in button -->
      <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

      <!-- Register -->
      <p>Not a member?
          <a href="{% url 'accounts:signup' %}">Register</a>
      </p>

      <!-- Social login -->
      <!-- <p>or sign in with:</p>

      <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
      <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
      <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
      <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a> -->

  </form>
  <!-- Default form login -->

</div>


<!-- <div class="container">
  <h1>Login</h1>
  <form method="POST" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div> -->
{% endblock %}
